## Part 1: Exploring COVID-19 rates (dataset curation)

### Import libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline
from composable import pipeable

from dfply import *
from more_dfply import *

### Read in COVID-19 datasets by country

data sourse: https://coviddata.github.io/coviddata/#csvs

In [2]:
c_cases = pd.read_csv("./data/countries/cases.csv")
c_cases.head()

,Country,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2021-02-07,2021-02-08,2021-02-09,2021-02-10,2021-02-11,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16
0,United States,1,1,2,2,5,5,5,5,5,...,27007368,27097095,27192455,27287159,27392512,27492023,27575344,27640282,27694226,27756624
1,India,0,0,0,0,0,0,0,0,1,...,10838194,10847304,10858371,10871294,10880603,10892746,10904940,10916589,10925710,10937320
2,Brazil,0,0,0,0,0,0,0,0,0,...,9524640,9524640,9599565,9659167,9713909,9765455,9809754,9834513,9866710,9921981
3,United Kingdom,0,0,0,0,0,0,0,0,0,...,3957177,3971315,3983756,3996833,4010376,4025574,4038929,4049920,4059696,4070332
4,Russia,0,0,0,0,0,0,0,0,0,...,3923461,3939162,3953970,3968228,3983031,3997898,4012538,4026506,4040505,4053535

In [3]:
cases_by_country = (c_cases 
                    >> gather("date", "cases", columns_from('2020-01-22'))
                   )
cases_by_country

              Country        date  cases
0       United States  2020-01-22      1
1               India  2020-01-22      0
2              Brazil  2020-01-22      0
3      United Kingdom  2020-01-22      0
4              Russia  2020-01-22      0
...               ...         ...    ...
85059            Guam  2021-02-16      0
85060        Guernsey  2021-02-16      0
85061          Jersey  2021-02-16      0
85062       Palestine  2021-02-16      0
85063     Puerto Rico  2021-02-16      0

[85064 rows x 3 columns]

In [4]:
c_deaths = pd.read_csv("./data/countries/deaths.csv")
c_deaths.head()

,Country,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2021-02-07,2021-02-08,2021-02-09,2021-02-10,2021-02-11,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16
0,United States,0,0,0,0,0,0,0,0,0,...,468204,469786,472818,476100,479257,482142,484301,485384,486325,488081
1,India,0,0,0,0,0,0,0,0,0,...,155080,155158,155252,155360,155447,155550,155642,155732,155813,155913
2,Brazil,0,0,0,0,0,0,0,0,0,...,231534,231534,233520,234850,236201,237489,238532,239245,239773,240940
3,United Kingdom,0,0,0,0,0,0,0,0,0,...,112681,113014,114066,115068,115748,116507,117128,117387,117622,118421
4,Russia,0,0,0,0,0,0,0,0,0,...,75430,75828,76347,76873,77415,77911,78403,78825,79210,79659

In [5]:
deaths_by_country = (c_deaths 
                     >> gather("date", "death", columns_from('2020-01-22'))
                    )
deaths_by_country

              Country        date  death
0       United States  2020-01-22      0
1               India  2020-01-22      0
2              Brazil  2020-01-22      0
3      United Kingdom  2020-01-22      0
4              Russia  2020-01-22      0
...               ...         ...    ...
85059            Guam  2021-02-16      0
85060        Guernsey  2021-02-16      0
85061          Jersey  2021-02-16      0
85062       Palestine  2021-02-16      0
85063     Puerto Rico  2021-02-16      0

[85064 rows x 3 columns]

In [6]:
c_recoveries = pd.read_csv("./data/countries/recoveries.csv")
c_recoveries.head()

,Country,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2021-02-07,2021-02-08,2021-02-09,2021-02-10,2021-02-11,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16
0,United States,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,India,0,0,0,0,0,0,0,0,0,...,10534505,10548521,10561608,10573372,10589230,10600625,10611731,10621220,10633025,10644858
2,Brazil,0,0,0,0,0,0,0,0,0,...,8467982,8478818,8577207,8616282,8637050,8691664,8740445,8765048,8821887,8847264
3,United Kingdom,0,0,0,0,0,0,0,0,0,...,10270,10323,10427,10495,10598,10655,10850,10914,10959,11022
4,Russia,0,0,0,0,0,0,0,0,0,...,3418329,3434163,3455582,3477760,3499230,3519689,3538241,3553326,3567189,3584477

In [7]:
recoveries_by_country = (c_recoveries 
                         >> gather("date", "recoveries", columns_from('2020-01-22'))
                        )
recoveries_by_country

              Country        date  recoveries
0       United States  2020-01-22           0
1               India  2020-01-22           0
2              Brazil  2020-01-22           0
3      United Kingdom  2020-01-22           0
4              Russia  2020-01-22           0
...               ...         ...         ...
85059            Guam  2021-02-16           0
85060        Guernsey  2021-02-16           0
85061          Jersey  2021-02-16           0
85062       Palestine  2021-02-16           0
85063     Puerto Rico  2021-02-16           0

[85064 rows x 3 columns]

### Join country datasets

In [8]:
country_join_0 = cases_by_country >> left_join(deaths_by_country, by = ['Country', 'date'])
country_join_0.head()

          Country        date  cases  death
0   United States  2020-01-22      1      0
1           India  2020-01-22      0      0
2          Brazil  2020-01-22      0      0
3  United Kingdom  2020-01-22      0      0
4          Russia  2020-01-22      0      0

In [9]:
# fix country name
fix_country = {'Saint Barthelemy':'St. Barthelemy',
               'Saint Kitts and Nevis':'St. Kitts and Nevis',
               'Saint Lucia':'St. Lucia',
               'Saint Vincent and the Grenadines':'St. Vincent and the Grenadines'}

# join cases, deaths, recoveries by country and fix problems
joined_countries = (recoveries_by_country 
                    >> left_join(country_join_0, by = ['Country', 'date'])
                    # fix country names
                    >> mutate(Country = X.Country.replace(fix_country))
                    >> mutate(Country = ifelse(((~X.Country.str.contains('MS Zaandam')) | (~X.Country.str.contains('Diamond Princess'))), 'Cruise Ship', X.Country))
                    >> mutate(date = to_datetime(X.date))
                    >> mutate(year = X.date.dt.year, 
                              month = X.date.dt.month.astype('category'),
                              day = X.date.dt.day.astype('category'))
                    >> filter_by((X.month == 12) & (X.day == 31))
                    >> arrange(X.Country, X.date)
                   ).reset_index(drop=True)

joined_countries.head()

       Country       date  recoveries  cases  death  year month day
0  Afghanistan 2020-12-31       41727  51526   2191  2020    12  31
1      Albania 2020-12-31       33634  58316   1181  2020    12  31
2      Algeria 2020-12-31       67127  99610   2756  2020    12  31
3      Andorra 2020-12-31        7432   8049     84  2020    12  31
4       Angola 2020-12-31       11044  17553    405  2020    12  31

In [10]:
joined_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     217 non-null    object
 1   date        217 non-null    datetime64[ns]
 2   recoveries  217 non-null    int64
 3   cases       217 non-null    int64
 4   death       217 non-null    int64
 5   year        217 non-null    int64
 6   month       217 non-null    category
 7   day         217 non-null    category
dtypes: category(2), datetime64[ns](1), int64(4), object(1)
memory usage: 12.4+ KB

### Read in datasets by region (might not use region)
data source: https://coviddata.github.io/coviddata/#csvs

In [11]:
# r_cases = pd.read_csv("./data/region/cases.csv")
# r_cases.head()

In [12]:
# cases_by_region = (r_cases 
#                     >> gather("date", "cases", columns_from('2020-01-21'))
#                    )
# cases_by_region.head()

In [13]:
# r_deaths = pd.read_csv("./data/region/deaths.csv")
# r_deaths.head()

In [14]:
# deaths_by_region = (r_deaths 
#                      >> gather("date", "death", columns_from('2020-01-21'))
#                    )
# deaths_by_region.head()

In [15]:
# r_recoveries = pd.read_csv("./data/region/recoveries.csv")
# r_recoveries.head()

In [16]:
# recoveries_by_region = (r_recoveries 
#                          >> gather("date", "recoveries", columns_from('2020-01-21'))
#                         )
# recoveries_by_region.head()

In [17]:
# # join region datasets
# region_join_0 = cases_by_region >> left_join(deaths_by_region, by = ['Region', 'Country', 'date'])
# region_join_0.head()

In [18]:
# joined_region = (recoveries_by_region 
#                     >> left_join(region_join_0, by = ['Region', 'Country', 'date'])
#                     >> mutate(date = to_datetime(X.date))
#                     #>> mutate(week = X.date.dt.isocalendar().week)
#                     #>> mutate(month = X.date.dt.month)
#                     >> arrange(X.Country, X.date)
#                    ).reset_index(drop=True)
# joined_region.head()

### Read in policy responses
data source: https://datacatalog.worldbank.org/dataset/covid-19-finance-sector-related-policy-responses

In [19]:
responses_df = pd.read_excel("./data/policy_responses/covid-fci-data.xlsx")
responses_df.head()

,ID,Country Name,Country ISO3,Income Level,Authority,Date,Level 1 policy measures,Level 2 policy measures,Level 3 policy measures,Details of the measure,Reference,Termination Date,Modification of Parent Measure,Parent Measure
0,1,China,CHN,Upper middle income,SUP,2020-02-01,Banking sector,Operational continuity ...,Blank ...,Require banks and insurance companies to ensur...,http://www.gov.cn/zhengce/zhengceku/2020-02/03...,NaT,No,NaN
1,2,Canada,CAN,High income,CB,2020-03-13,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,BoC also created a Bankers Acceptance Purchase...,https://www.bankofcanada.ca/markets/market-ope...,2020-10-31,No,NaN
2,3,China,CHN,Upper middle income,CB,2020-02-05,Banking sector,Integrity ...,Other integrity ...,The PBC has issued Notices on AML/CFT requirem...,...,NaT,No,NaN
3,4,Thailand,THA,Upper middle income,CB,2020-02-05,Liquidity/funding,Policy rate ...,Blank ...,BOT cut its benchmark interest rate by 25 basi...,https://www.bot.or.th/English/PressandSpeeches...,NaT,No,NaN
4,5,Russian Federation,RUS,Upper middle income,CB,2020-02-07,Liquidity/funding,Policy rate ...,Blank ...,Policy rates were reduced by 25 basis points t...,https://www.cnbc.com/2020/02/07/reuters-americ...,NaT,No,NaN

### Fix policy responses table

In [20]:
# fix country names to match country table
fix_country_name = {'Congo, Dem. Rep.': 'Congo (Kinshasa)',
                    'Congo, Rep.': 'Congo (Brazzaville)',
                    'Egypt, Arab Rep.': 'Egypt',
                    'Hong Kong SAR, China': 'Hong Kong',
                    'Iran, Islamic Rep.': 'Iran',
                    'Kyrgyz Republic': 'Kyrgyzstan',
                    'Lao PDR': 'Laos',
                    'Micronesia, Fed. Sts.': 'Micronesia',
                    'Russian Federation': 'Russia',
                    'Slovak Republic': 'Slovakia',
                    'Korea, Rep.': 'South Korea',
                    'Gambia, The': 'The Gambia',
                    r"Cote d'Ivoire":'Ivory Coast'}

fix_missing_details = {np.NaN:'No Details'}

policy_responses = (responses_df
                    >> fix_names
                    # rename columns
                    >> rename(Country_code = X.Country_ISO3,
                              Country = X.Country_Name,
                              date = X.Date)
                    # fix country names for joining
                    >> mutate(Country = X.Country.str.strip().replace(fix_country_name))
                    # add columns
                    >> mutate(year = X.date.dt.year.astype('Int64').astype('category'))
                    >> mutate(month = X.date.dt.month.astype('Int64').astype('category'))
                    >> mutate(day = X.date.dt.day.astype('Int64').astype('category'))
                    >> select(~X.Authority, ~X.Details_of_the_measure, ~X.Termination_Date, ~X.Modification_of_Parent_Measure, ~X.Parent_Measure)
                    >> arrange(X.Country, X.date)
                    >> drop(X.ID, X.Reference)
                   ).reset_index(drop=True)

policy_responses.head(50)

,Country,Country_code,Income_Level,date,Level_1_policy_measures,Level_2_policy_measures,Level_3_policy_measures,year,month,day
0,Afghanistan,AFG,Low income,2020-04-09,Banking sector,Prudential ...,Prioritize or review critical supervisory acti...,2020,4,9
1,Afghanistan,AFG,Low income,2020-04-09,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,4,9
2,Afghanistan,AFG,Low income,2020-04-09,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,4,9
3,Afghanistan,AFG,Low income,2020-04-09,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,4,9
4,Afghanistan,AFG,Low income,2020-04-09,Banking sector,Prudential ...,Other prudential flexibility ...,2020,4,9
5,Afghanistan,AFG,Low income,2020-04-09,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,4,9
6,Afghanistan,AFG,Low income,2020-05-27,Payment systems,Promoting and ensuring availability of digital...,Blank ...,2020,5,27
7,Afghanistan,AFG,Low income,2020-05-27,Payment systems,Promoting and ensuring availability of digital...,Blank ...,2020,5,27
8,Albania,ALB,Upper middle income,2020-03-12,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,3,12
9,Albania,ALB,Upper middle income,2020-03-12,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,3,12
10,Albania,ALB,Upper middle income,2020-03-16,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,3,16
11,Albania,ALB,Upper middle income,2020-03-24,Banking sector,Support borrowers ...,State guarantees on loans ...,2020,3,24
12,Albania,ALB,Upper middle income,2020-03-25,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,3,25
13,Albania,ALB,Upper middle income,2020-03-25,Liquidity/funding,Policy rate ...,Blank ...,2020,3,25
14,Albania,ALB,Upper middle income,2020-04-01,Payment systems,Promoting and ensuring availability of digital...,Blank ...,2020,4,1
15,Albania,ALB,Upper middle income,2020-04-08,Financial Markets/NBFI,Public debt management ...,Adjusting funding strategy ...,2020,4,8
16,Albania,ALB,Upper middle income,2020-04-09,Payment systems,Promoting and ensuring availability of digital...,Blank ...,2020,4,9
17,Albania,ALB,Upper middle income,2020-04-09,Banking sector,Prudential ...,Restrictions on use of profits and resources (...,2020,4,9
18,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,5,28
19,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,5,28
20,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Prudential ...,Other prudential relaxation ...,2020,5,28
21,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,5,28
22,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,5,28
23,Albania,ALB,Upper middle income,2020-05-28,Insolvency,Enhancing tools for out-of-court debt restruct...,Blank ...,2020,5,28
24,Albania,ALB,Upper middle income,2020-05-28,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,5,28
25,Albania,ALB,Upper middle income,2020-07-01,Banking sector,Prudential ...,Restrictions on use of profits and resources (...,2020,7,1
26,Albania,ALB,Upper middle income,2020-07-17,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,7,17
27,Algeria,DZA,Upper middle income,2020-03-15,Liquidity/funding,Policy rate ...,Blank ...,2020,3,15
28,Algeria,DZA,Upper middle income,2020-03-15,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,3,15
29,Algeria,DZA,Upper middle income,2020-04-06,Banking sector,Prudential ...,Temporary ease on liquidity requirements ...,2020,4,6
30,Algeria,DZA,Upper middle income,2020-04-06,Banking sector,Prudential ...,"Release/defer capital buffers (conservation, c...",2020,4,6
31,Algeria,DZA,Upper middle income,2020-04-06,Banking sector,Prudential ...,"Relaxation in NPE treatment (definition, class...",2020,4,6
32,Algeria,DZA,Upper middle income,2020-04-06,Banking sector,Support borrowers ...,Encourage restructuring of loans ...,2020,4,6
33,Algeria,DZA,Upper middle income,2020-04-29,Liquidity/funding,Policy rate ...,Blank ...,2020,4,29
34,Algeria,DZA,Upper middle income,2020-04-29,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,4,29
35,Algeria,DZA,Upper middle income,2020-04-29,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,4,29
36,Angola,AGO,Lower middle income,2020-03-30,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,3,30
37,Angola,AGO,Lower middle income,2020-04-03,Banking sector,Support borrowers ...,Other Support borrowers ...,2020,4,3
38,Angola,AGO,Lower middle income,2020-04-06,Liquidity/funding,Asset purchases ...,Blank ...,2020,4,6
39,Angola,AGO,Lower middle income,2020-04-09,Banking sector,Support borrowers ...,"State subsidies, direct loans and tax incentiv...",2020,4,9
40,Angola,AGO,Lower middle income,2020-05-07,Banking sector,Support borrowers ...,Other credit repayment moratorium ...,2020,5,7
41,Angola,AGO,Lower middle income,2020-05-10,Banking sector,Support borrowers ...,State guarantees on loans ...,2020,5,10
42,Anguilla,AIA,Upper Middle Income,2020-03-20,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,3,20
43,Anguilla,AIA,Upper Middle Income,2020-03-20,Banking sector,Prudential ...,Suspension/limitation of banking fees ...,2020,3,20
44,Anguilla,AIA,Upper Middle Income,2020-03-27,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,3,27
45,Anguilla,AIA,Upper Middle Income,2020-04-03,Liquidity/funding,Policy rate ...,Blank ...,2020,4,3
46,Antigua and Barbuda,ATG,High income,2020-03-20,Banking sector,Support borrowers ...,Mandatory credit repayment moratorium ...,2020,3,20
47,Antigua and Barbuda,ATG,High income,2020-03-20,Banking sector,Prudential ...,Suspension/limitation of banking fees ...,2020,3,20
48,Antigua and Barbuda,ATG,High income,2020-03-27,Liquidity/funding,Liquidity (incl FX)/ELA ...,Blank ...,2020,3,27
49,Antigua and Barbuda,ATG,High income,2020-04-03,Liquidity/funding,Policy rate ...,Blank ...,2020,4,3

In [21]:
policy_responses.Level_1_policy_measures.value_counts()

Banking sector            1986
Liquidity/funding          897
Financial Markets/NBFI     461
Payment systems            274
Insolvency                  54
Name: Level_1_policy_measures, dtype: int64

In [22]:
policy_responses.Level_2_policy_measures.value_counts()

Prudential                                                                       1010
Support borrowers                                                                 831
Liquidity (incl FX)/ELA                                                           559
Market functioning                                                                268
Policy rate                                                                       245
Promoting and ensuring availability of digital payment mechanisms                 208
NBFI                                                                              147
Asset purchases                                                                    90
Integrity                                                                          69
Operational continuity                                                             60
Public debt management                                                             46
Amending bankruptcy filing obligations                                             45
Easing regulatory requirements                                                     24
Other Payments                                                                     23
Consumer protection measures and ensuring availability and acceptance of cash      19
Crisis management                                                                  16
Enhancing tools for out-of-court debt restructuring and workouts                    8
Other liquidity                                                                     3
Other insolvency                                                                    1
Name: Level_2_policy_measures, dtype: int64

In [23]:
policy_responses.Income_Level.value_counts()

High income            1531
Upper middle income    1185
Lower middle income     698
Low income              237
Aggregates               13
Upper Middle Income       8
Name: Income_Level, dtype: int64

### Aggregate policy responses

In [24]:
# level 1
level_1 = (policy_responses
           >> select(X.Country, X.Country_code, X.Income_Level, X.Level_1_policy_measures)
           >> group_by(X.Country, X.Income_Level, X.Level_1_policy_measures)
           >> summarise(level_1_counts = X.Level_1_policy_measures.count())
           >> spread(X.Level_1_policy_measures, X.level_1_counts)
           >> fix_names
           >> rename(Financial_Markets_NBFI = X.Financial_MarketsNBFI, 
                     Liquidity_funding = X.Liquidityfunding)
           >> mutate(total_measures_taken = X.Banking_sector+X.Financial_Markets_NBFI+X.Insolvency+X.Liquidity_funding+X.Payment_systems)
          )
level_1.head()

,Income_Level,Country,Banking_sector,Financial_Markets_NBFI,Insolvency,Liquidity_funding,Payment_systems,total_measures_taken
0,Aggregates,G20,8.0,4.0,1.0,NaN,NaN,NaN
1,High income,Antigua and Barbuda,3.0,NaN,NaN,2.0,NaN,NaN
2,High income,Australia,19.0,8.0,4.0,11.0,2.0,44.0
3,High income,Bahrain,3.0,NaN,NaN,4.0,1.0,NaN
4,High income,Canada,24.0,8.0,1.0,20.0,NaN,NaN

In [25]:
# level 2 ??? might not need ??? 
level_2 = (policy_responses
           >> select(X.Country, X.Country_code, X.Income_Level, X.Level_2_policy_measures)
           >> group_by(X.Country, X.Level_2_policy_measures)
           >> summarise(level_2_counts = X.Level_2_policy_measures.count())
           )
level_2.head()

,Level_2_policy_measures,Country,level_2_counts
0,Liquidity (incl FX)/ELA ...,Afghanistan,1
1,Promoting and ensuring availability of digital...,Afghanistan,2
2,Prudential ...,Afghanistan,4
3,Support borrowers ...,Afghanistan,1
4,Enhancing tools for out-of-court debt restruct...,Albania,1

### Read in World Bank Indicators

In [26]:
indicator_1 = pd.read_csv("./data/indicators/world_indicators_1.csv")
indicator_1.head()

,Country Name,Country Code,Series Name,Series Code,2019
0,Afghanistan,AFG,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,18.54999924
1,Afghanistan,AFG,Employment in agriculture (% of total employme...,SL.AGR.EMPL.ZS,42.5
2,Afghanistan,AFG,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,38.95999908
3,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,10.97999954
4,Afghanistan,AFG,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,..

### Fix World Bank Indicators

In [27]:
# reshape indicator
indicator_reshape = (indicator_1
                     >> select(~X['Series Code'])
                     >> gather("year", "data", '2019')
                     >> filter_by(~X.data.isna())
                     >> spread(X['Series Name'], X.data)
                     >> select(~X['Cereal yield (kg per hectare)'])
                    )
indicator_reshape.head()

,Country Name,Country Code,year,Employment in agriculture (% of total employment) (modeled ILO estimate),Employment in industry (% of total employment) (modeled ILO estimate),Employment in services (% of total employment) (modeled ILO estimate),"Immunization, DPT (% of children ages 12-23 months)","Immunization, HepB3 (% of one-year-old children)","Immunization, measles (% of children ages 12-23 months)","International tourism, number of arrivals","International tourism, number of departures",Poverty headcount ratio at national poverty lines (% of population),"Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,Afghanistan,AFG,2019,42.5,18.54999924,38.95999908,66,66,64,..,..,..,10.97999954
1,Albania,ALB,2019,36.41999817,20.14999962,43.43000031,99,99,95,6406000,5922000,..,11.47000027
2,Algeria,DZA,2019,9.600000381,30.42000008,59.99000168,91,91,80,2371000,5732000,..,11.81000042
3,American Samoa,ASM,2019,..,..,..,..,..,..,52700.00076,..,..,..
4,Andorra,AND,2019,..,..,..,99,98,99,8235000,..,..,..

In [51]:
# clean indicator
fix_country_name_1 = {'Bahamas, The':'Bahamas',
                      'Brunei Darussalam':'Brunei',
                      'Myanmar':'Burma',
                      'Cabo Verde':'Cape Verde',
                      'Congo, Dem. Rep.':'Congo (Kinshasa)',
                      'Congo, Rep.':'Congo (Brazzaville)',
                      r"Cote d'Ivoire":'Ivory Coast',
                      'Timor-Leste':'East Timor',
                      'Egypt, Arab Rep.':'Egypt',
                      'Gambia, The':'The Gambia',
                      'Hong Kong SAR, China':'Hong Kong',
                      'Iran, Islamic Rep.':'Iran',
                      r"Korea, Dem. Peopleâ€™s Rep.":'North Korea',
                      'Korea, Rep.':'South Korea',
                      'Kyrgyz Republic':'Kyrgyzstan',
                      'Lao PDR':'Laos',
                      'Macao SAR, China':'Macao',
                      'Micronesia, Fed. Sts.':'Micronesia',
                      'Russian Federation':'Russia',
                      'Slovak Republic':'Slovakia',
                      'St. Martin (French part)':'St. Martin',
                      'Sint Maarten (Dutch part)':'St. Maarten',
                      'Syrian Arab Republic':'Syria',
                      'Venezuela, RB':'Venezuela',
                      'Yemen, Rep.':'Yemen'}

indicator_cleaned = (indicator_reshape
                     >> rename(Country = X['Country Name'],
                               country_code = X['Country Code'],
                               year = X['year'],
                               employment_agriculture = X['Employment in agriculture (% of total employment) (modeled ILO estimate)'],
                               employment_industry = X['Employment in industry (% of total employment) (modeled ILO estimate)'],
                               employment_services = X['Employment in services (% of total employment) (modeled ILO estimate)'],
                               unemployment_total = X['Unemployment, total (% of total labor force) (modeled ILO estimate)'],
                               dpt_immunization_12to13_months = X['Immunization, DPT (% of children ages 12-23 months)'],
                               hepB3_immunization_1yrold_child = X['Immunization, HepB3 (% of one-year-old children)'],
                               measles_immunization_12to23_months = X['Immunization, measles (% of children ages 12-23 months)'],
                               IT_number_of_arrivals = X['International tourism, number of arrivals'],
                               IT_number_of_departures = X['International tourism, number of departures'],
                               poverty_headcount_ratio_at_national_poverty_lines = X['Poverty headcount ratio at national poverty lines (% of population)'])
                     >> mutate(Country = X.Country.replace(fix_country_name_1))
                     >> mutate(year = X.year.astype(int).apply(lambda y: y if int(y) > 0 else np.nan))
                     >> mutate(employment_agriculture = X.employment_agriculture.replace('..',np.nan).astype(float).round(2),
                               employment_industry = X.employment_industry.replace('..',np.nan).astype(float).round(2),
                               employment_services = X.employment_services.replace('..',np.nan).astype(float).round(2),
                               unemployment_total = X.unemployment_total.replace('..',np.nan).astype(float).round(2),
                               dpt_immunization_12to13_months = X.dpt_immunization_12to13_months.replace('..',np.nan).astype(float).round(2),
                               hepB3_immunization_1yrold_child = X.hepB3_immunization_1yrold_child.replace('..',np.nan).astype(float).round(2),
                               measles_immunization_12to23_months = X.measles_immunization_12to23_months.replace('..',np.nan).astype(float).round(2),
                               poverty_headcount_ratio_at_national_poverty_lines = X.poverty_headcount_ratio_at_national_poverty_lines.replace('..',np.nan).astype(float).round(2),
                               IT_number_of_arrivals = X.IT_number_of_arrivals.replace('..',np.nan).astype(float).round(2),
                               IT_number_of_departures = X.IT_number_of_departures.replace('..',np.nan).astype(float).round(2))
                     >> arrange(X.Country)
                     
                    )
indicator_cleaned.head(50)

,Country,country_code,year,employment_agriculture,employment_industry,employment_services,dpt_immunization_12to13_months,hepB3_immunization_1yrold_child,measles_immunization_12to23_months,IT_number_of_arrivals,IT_number_of_departures,poverty_headcount_ratio_at_national_poverty_lines,unemployment_total
0,Afghanistan,AFG,2019,42.50,18.55,38.96,66.0,66.0,64.0,NaN,NaN,NaN,10.98
1,Albania,ALB,2019,36.42,20.15,43.43,99.0,99.0,95.0,6.406000e+06,5.922000e+06,NaN,11.47
2,Algeria,DZA,2019,9.60,30.42,59.99,91.0,91.0,80.0,2.371000e+06,5.732000e+06,NaN,11.81
3,American Samoa,ASM,2019,NaN,NaN,NaN,NaN,NaN,NaN,5.270000e+04,NaN,NaN,NaN
4,Andorra,AND,2019,NaN,NaN,NaN,99.0,98.0,99.0,8.235000e+06,NaN,NaN,NaN
5,Angola,AGO,2019,50.73,6.80,42.47,57.0,53.0,51.0,2.180000e+05,NaN,NaN,6.93
6,Antigua and Barbuda,ATG,2019,NaN,NaN,NaN,95.0,99.0,93.0,1.035000e+06,NaN,NaN,NaN
7,Argentina,ARG,2019,0.06,21.84,78.10,86.0,86.0,94.0,7.399000e+06,1.535200e+07,35.5,9.84
8,Armenia,ARM,2019,24.05,24.75,51.20,92.0,92.0,95.0,1.894000e+06,1.868000e+06,NaN,18.81
9,Aruba,ABW,2019,NaN,NaN,NaN,NaN,NaN,NaN,1.951000e+06,NaN,NaN,NaN
10,Australia,AUS,2019,2.56,19.06,78.38,95.0,95.0,95.0,9.466000e+06,1.162400e+07,NaN,5.16
11,Austria,AUT,2019,3.66,25.36,70.99,85.0,85.0,94.0,3.188400e+07,1.190200e+07,NaN,4.49
12,Azerbaijan,AZE,2019,36.00,14.79,49.22,94.0,94.0,98.0,3.170000e+06,5.568000e+06,NaN,4.84
13,Bahamas,BHS,2019,2.20,14.48,83.31,86.0,86.0,85.0,7.250000e+06,NaN,NaN,10.11
14,Bahrain,BHR,2019,0.94,35.25,63.81,99.0,99.0,99.0,1.106100e+07,2.950000e+06,NaN,1.56
15,Bangladesh,BGD,2019,38.30,21.32,40.38,98.0,98.0,97.0,3.230000e+05,NaN,NaN,4.22
16,Barbados,BRB,2019,2.65,18.93,78.42,90.0,90.0,92.0,9.660000e+05,NaN,NaN,10.10
17,Belarus,BLR,2019,11.06,30.38,58.56,98.0,97.0,98.0,1.183200e+07,9.221000e+06,NaN,4.71
18,Belgium,BEL,2019,0.92,20.84,78.24,98.0,97.0,96.0,9.343000e+06,1.419100e+07,NaN,5.36
19,Belize,BLZ,2019,16.80,15.59,67.61,98.0,98.0,96.0,1.674000e+06,NaN,NaN,6.46
20,Benin,BEN,2019,38.27,18.31,43.42,76.0,76.0,71.0,3.370000e+05,NaN,38.5,2.32
21,Bermuda,BMU,2019,NaN,NaN,NaN,NaN,NaN,NaN,8.050000e+05,NaN,NaN,NaN
22,Bhutan,BTN,2019,55.78,10.15,34.06,97.0,97.0,97.0,3.160000e+05,7.200000e+04,NaN,2.27
23,Bolivia,BOL,2019,30.54,19.41,50.05,75.0,75.0,79.0,1.239000e+06,1.160000e+06,NaN,3.46
24,Bosnia and Herzegovina,BIH,2019,17.96,31.71,50.33,73.0,80.0,68.0,1.198000e+06,NaN,NaN,15.69
25,Botswana,BWA,2019,19.90,17.62,62.49,95.0,95.0,97.0,NaN,NaN,NaN,17.21
26,Brazil,BRA,2019,9.08,19.99,70.94,73.0,80.0,91.0,6.353000e+06,NaN,NaN,11.93
27,British Virgin Islands,VGB,2019,NaN,NaN,NaN,NaN,NaN,NaN,3.024000e+05,NaN,NaN,NaN
28,Brunei,BRN,2019,1.95,20.76,77.28,99.0,99.0,97.0,3.330000e+05,NaN,NaN,6.92
29,Bulgaria,BGR,2019,6.62,30.02,63.36,92.0,85.0,93.0,1.255200e+07,7.007000e+06,NaN,4.23
30,Burkina Faso,BFA,2019,26.21,25.16,48.64,91.0,91.0,88.0,1.430000e+05,NaN,NaN,4.62
135,Burma,MMR,2019,48.85,16.94,34.21,90.0,90.0,84.0,4.364000e+06,NaN,NaN,0.50
31,Burundi,BDI,2019,86.21,3.35,10.45,93.0,93.0,92.0,NaN,NaN,NaN,1.42
33,Cambodia,KHM,2019,34.53,27.91,37.56,92.0,92.0,84.0,6.611000e+06,2.038000e+06,NaN,0.13
34,Cameroon,CMR,2019,43.49,14.42,42.09,67.0,67.0,60.0,NaN,NaN,NaN,3.32
35,Canada,CAN,2019,1.51,19.25,79.24,91.0,74.0,90.0,3.243000e+07,3.784590e+07,NaN,5.66
32,Cape Verde,CPV,2019,10.60,21.80,67.60,96.0,97.0,98.0,7.580000e+05,NaN,NaN,12.07
36,Cayman Islands,CYM,2019,NaN,NaN,NaN,NaN,NaN,NaN,2.334000e+06,NaN,NaN,NaN
37,Central African Republic,CAF,2019,69.85,6.26,23.89,47.0,47.0,49.0,NaN,NaN,NaN,4.04
38,Chad,TCD,2019,75.06,1.88,23.06,50.0,50.0,41.0,NaN,NaN,NaN,1.91
39,Channel Islands,CHI,2019,2.62,24.64,72.73,NaN,NaN,NaN,NaN,NaN,NaN,7.11
40,Chile,CHL,2019,8.98,22.25,68.78,96.0,96.0,95.0,5.431000e+06,4.091000e+06,NaN,7.29
41,China,CHN,2019,25.33,27.42,47.25,99.0,99.0,99.0,1.625380e+08,1.546320e+08,0.6,4.60
42,Colombia,COL,2019,15.77,20.12,64.11,92.0,92.0,95.0,4.529000e+06,4.479000e+06,NaN,9.96
43,Comoros,COM,2019,34.38,18.83,46.79,91.0,91.0,90.0,4.510000e+04,NaN,NaN,7.70
45,Congo (Brazzaville),COG,2019,33.53,21.47,44.99,79.0,79.0,73.0,NaN,NaN,NaN,9.60
44,Congo (Kinshasa),COD,2019,64.30,9.84,25.86,57.0,57.0,57.0,NaN,NaN,NaN,4.13
46,Costa Rica,CRI,2019,11.97,18.80,69.22,95.0,98.0,95.0,3.366000e+06,1.153000e+06,21.0,11.49
48,Croatia,HRV,2019,6.19,27.67,66.14,94.0,93.0,93.0,6.002100e+07,3.500000e+06,NaN,6.62
49,Cuba,CUB,2019,17.40,17.11,65.49,99.0,99.0,99.0,4.276000e+06,NaN,NaN,1.67

In [29]:
indicator_cleaned.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia', 'St. Maarten', 'St. Martin',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'The Gambia', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [30]:
joined_countries.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cruise Ship', 'Cuba',
       'Curacao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'Gabon', 'Georgia', 'Germany', 'Ghana',
       'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Ireland', 'Norway', 'Oman', 'Others', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Barthelemy',
       'St. Kitts and Nevis', 'St. Lucia', 'St. Martin',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'The Gambia', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

### Join 1 (Country and indicators)

In [31]:
join_1 = (indicator_cleaned
          >> left_join(joined_countries, by = ["Country"])
          >> rename(year = X.year_x)
          >> select(X.Country, X.country_code, X.year, X.recoveries, X.cases, X.death,
                    X.employment_agriculture, X.employment_industry, X.employment_services, X.unemployment_total,
                    X.dpt_immunization_12to13_months, X.hepB3_immunization_1yrold_child, X.measles_immunization_12to23_months,
                    X.IT_number_of_arrivals, X.IT_number_of_departures, X.poverty_headcount_ratio_at_national_poverty_lines)
          >> drop(X.year)
          
         )
join_1.head()

,Country,country_code,recoveries,cases,death,employment_agriculture,employment_industry,employment_services,unemployment_total,dpt_immunization_12to13_months,hepB3_immunization_1yrold_child,measles_immunization_12to23_months,IT_number_of_arrivals,IT_number_of_departures,poverty_headcount_ratio_at_national_poverty_lines
0,Afghanistan,AFG,41727.0,51526.0,2191.0,42.50,18.55,38.96,10.98,66.0,66.0,64.0,NaN,NaN,NaN
1,Albania,ALB,33634.0,58316.0,1181.0,36.42,20.15,43.43,11.47,99.0,99.0,95.0,6406000.0,5922000.0,NaN
2,Algeria,DZA,67127.0,99610.0,2756.0,9.60,30.42,59.99,11.81,91.0,91.0,80.0,2371000.0,5732000.0,NaN
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52700.0,NaN,NaN
4,Andorra,AND,7432.0,8049.0,84.0,NaN,NaN,NaN,NaN,99.0,98.0,99.0,8235000.0,NaN,NaN

In [32]:
join_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 216
Data columns (total 15 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country                                            217 non-null    object
 1   country_code                                       217 non-null    object
 2   recoveries                                         198 non-null    float64
 3   cases                                              198 non-null    float64
 4   death                                              198 non-null    float64
 5   employment_agriculture                             187 non-null    float64
 6   employment_industry                                187 non-null    float64
 7   employment_services                                187 non-null    float64
 8   unemployment_total                                 187 non-null    float64
 9   dpt_immunization_12to13_months                     192 non-null    float64
 10  hepB3_immunization_1yrold_child                    187 non-null    float64
 11  measles_immunization_12to23_months                 192 non-null    float64
 12  IT_number_of_arrivals                              172 non-null    float64
 13  IT_number_of_departures                            91 non-null     float64
 14  poverty_headcount_ratio_at_national_poverty_lines  13 non-null     float64
dtypes: float64(13), object(2)
memory usage: 27.1+ KB

### Join 2 (policy measures + join 1)

In [33]:
join_2 = (join_1
          >> left_join(level_1, by = ["Country"])
         )
join_2.head()

,Country,country_code,recoveries,cases,death,employment_agriculture,employment_industry,employment_services,unemployment_total,dpt_immunization_12to13_months,...,IT_number_of_arrivals,IT_number_of_departures,poverty_headcount_ratio_at_national_poverty_lines,Income_Level,Banking_sector,Financial_Markets_NBFI,Insolvency,Liquidity_funding,Payment_systems,total_measures_taken
0,Afghanistan,AFG,41727.0,51526.0,2191.0,42.50,18.55,38.96,10.98,66.0,...,NaN,NaN,NaN,Low income,5.0,NaN,NaN,1.0,2.0,NaN
1,Albania,ALB,33634.0,58316.0,1181.0,36.42,20.15,43.43,11.47,99.0,...,6406000.0,5922000.0,NaN,Upper middle income,12.0,1.0,1.0,3.0,2.0,19.0
2,Algeria,DZA,67127.0,99610.0,2756.0,9.60,30.42,59.99,11.81,91.0,...,2371000.0,5732000.0,NaN,Upper middle income,4.0,NaN,NaN,5.0,NaN,NaN
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,7432.0,8049.0,84.0,NaN,NaN,NaN,NaN,99.0,...,8235000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
join_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 216
Data columns (total 22 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country                                            217 non-null    object
 1   country_code                                       217 non-null    object
 2   recoveries                                         198 non-null    float64
 3   cases                                              198 non-null    float64
 4   death                                              198 non-null    float64
 5   employment_agriculture                             187 non-null    float64
 6   employment_industry                                187 non-null    float64
 7   employment_services                                187 non-null    float64
 8   unemployment_total                                 187 non-null    float64
 9   dpt_immunization_12to13_months                     192 non-null    float64
 10  hepB3_immunization_1yrold_child                    187 non-null    float64
 11  measles_immunization_12to23_months                 192 non-null    float64
 12  IT_number_of_arrivals                              172 non-null    float64
 13  IT_number_of_departures                            91 non-null     float64
 14  poverty_headcount_ratio_at_national_poverty_lines  13 non-null     float64
 15  Income_Level                                       153 non-null    object
 16  Banking_sector                                     148 non-null    float64
 17  Financial_Markets_NBFI                             84 non-null     float64
 18  Insolvency                                         31 non-null     float64
 19  Liquidity_funding                                  142 non-null    float64
 20  Payment_systems                                    89 non-null     float64
 21  total_measures_taken                               18 non-null     float64
dtypes: float64(19), object(3)
memory usage: 39.0+ KB

### Clean join 2

In [52]:

final_table = (join_2
               >> select(X.Country, X.country_code, X.Income_Level, X.cases, X.recoveries, X.death, 
                         columns_from(X.employment_agriculture))
               >> mutate(cases = X.cases.astype('Int64'),
                         recoveries = X.recoveries.astype('Int64'),
                         death = X.death.astype('Int64'))
               >> mutate(Income_Level = X.Income_Level.astype('category'))
              )
final_table.head(50)

,Country,country_code,Income_Level,cases,recoveries,death,employment_agriculture,employment_industry,employment_services,unemployment_total,...,measles_immunization_12to23_months,IT_number_of_arrivals,IT_number_of_departures,poverty_headcount_ratio_at_national_poverty_lines,Banking_sector,Financial_Markets_NBFI,Insolvency,Liquidity_funding,Payment_systems,total_measures_taken
0,Afghanistan,AFG,Low income,51526,41727,2191,42.50,18.55,38.96,10.98,...,64.0,NaN,NaN,NaN,5.0,NaN,NaN,1.0,2.0,NaN
1,Albania,ALB,Upper middle income,58316,33634,1181,36.42,20.15,43.43,11.47,...,95.0,6.406000e+06,5.922000e+06,NaN,12.0,1.0,1.0,3.0,2.0,19.0
2,Algeria,DZA,Upper middle income,99610,67127,2756,9.60,30.42,59.99,11.81,...,80.0,2.371000e+06,5.732000e+06,NaN,4.0,NaN,NaN,5.0,NaN,NaN
3,American Samoa,ASM,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,...,NaN,5.270000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,8049,7432,84,NaN,NaN,NaN,NaN,...,99.0,8.235000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,AGO,Lower middle income,17553,11044,405,50.73,6.80,42.47,6.93,...,51.0,2.180000e+05,NaN,NaN,5.0,NaN,NaN,1.0,NaN,NaN
6,Antigua and Barbuda,ATG,High income,159,148,5,NaN,NaN,NaN,NaN,...,93.0,1.035000e+06,NaN,NaN,3.0,NaN,NaN,2.0,NaN,NaN
7,Argentina,ARG,Upper middle income,1625514,1426676,43245,0.06,21.84,78.10,9.84,...,94.0,7.399000e+06,1.535200e+07,35.5,41.0,18.0,1.0,5.0,9.0,74.0
8,Armenia,ARM,Upper middle income,159409,142801,2823,24.05,24.75,51.20,18.81,...,95.0,1.894000e+06,1.868000e+06,NaN,9.0,NaN,NaN,3.0,1.0,NaN
9,Aruba,ABW,NaN,0,0,0,NaN,NaN,NaN,NaN,...,NaN,1.951000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Australia,AUS,High income,28425,25762,909,2.56,19.06,78.38,5.16,...,95.0,9.466000e+06,1.162400e+07,NaN,19.0,8.0,4.0,11.0,2.0,44.0
11,Austria,AUT,NaN,360815,332952,6222,3.66,25.36,70.99,4.49,...,94.0,3.188400e+07,1.190200e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Azerbaijan,AZE,Upper middle income,218700,184422,2641,36.00,14.79,49.22,4.84,...,98.0,3.170000e+06,5.568000e+06,NaN,29.0,19.0,NaN,3.0,6.0,NaN
13,Bahamas,BHS,NaN,7871,6230,170,2.20,14.48,83.31,10.11,...,85.0,7.250000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Bahrain,BHR,High income,92675,90217,352,0.94,35.25,63.81,1.56,...,99.0,1.106100e+07,2.950000e+06,NaN,3.0,NaN,NaN,4.0,1.0,NaN
15,Bangladesh,BGD,Lower middle income,513510,457459,7559,38.30,21.32,40.38,4.22,...,97.0,3.230000e+05,NaN,NaN,25.0,NaN,1.0,9.0,5.0,NaN
16,Barbados,BRB,NaN,383,319,7,2.65,18.93,78.42,10.10,...,92.0,9.660000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Belarus,BLR,Upper middle income,194284,175147,1424,11.06,30.38,58.56,4.71,...,98.0,1.183200e+07,9.221000e+06,NaN,12.0,1.0,NaN,3.0,NaN,NaN
18,Belgium,BEL,NaN,646496,0,19528,0.92,20.84,78.24,5.36,...,96.0,9.343000e+06,1.419100e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Belize,BLZ,Upper middle income,10776,9795,248,16.80,15.59,67.61,6.46,...,96.0,1.674000e+06,NaN,NaN,5.0,NaN,NaN,1.0,NaN,NaN
20,Benin,BEN,Low income,3251,3061,44,38.27,18.31,43.42,2.32,...,71.0,3.370000e+05,NaN,38.5,2.0,1.0,NaN,2.0,7.0,NaN
21,Bermuda,BMU,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,...,NaN,8.050000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bhutan,BTN,Lower middle income,670,448,0,55.78,10.15,34.06,2.27,...,97.0,3.160000e+05,7.200000e+04,NaN,19.0,NaN,NaN,2.0,NaN,NaN
23,Bolivia,BOL,Lower middle income,160124,132097,9165,30.54,19.41,50.05,3.46,...,79.0,1.239000e+06,1.160000e+06,NaN,2.0,NaN,NaN,2.0,3.0,NaN
24,Bosnia and Herzegovina,BIH,Upper middle income,110985,77225,4050,17.96,31.71,50.33,15.69,...,68.0,1.198000e+06,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
25,Botswana,BWA,Upper middle income,14805,12136,42,19.90,17.62,62.49,17.21,...,97.0,NaN,NaN,NaN,7.0,1.0,NaN,6.0,1.0,NaN
26,Brazil,BRA,Upper middle income,7675973,6848844,194949,9.08,19.99,70.94,11.93,...,91.0,6.353000e+06,NaN,NaN,30.0,6.0,1.0,22.0,3.0,62.0
27,British Virgin Islands,VGB,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,...,NaN,3.024000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brunei,BRN,NaN,157,149,3,1.95,20.76,77.28,6.92,...,97.0,3.330000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Bulgaria,BGR,Upper middle income,202266,119527,7576,6.62,30.02,63.36,4.23,...,93.0,1.255200e+07,7.007000e+06,NaN,31.0,11.0,1.0,2.0,NaN,NaN
30,Burkina Faso,BFA,Low income,6707,5100,85,26.21,25.16,48.64,4.62,...,88.0,1.430000e+05,NaN,NaN,2.0,1.0,NaN,2.0,7.0,NaN
31,Burma,MMR,NaN,124630,107069,2682,48.85,16.94,34.21,0.50,...,84.0,4.364000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Burundi,BDI,NaN,818,687,2,86.21,3.35,10.45,1.42,...,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Cambodia,KHM,Lower middle income,378,362,0,34.53,27.91,37.56,0.13,...,84.0,6.611000e+06,2.038000e+06,NaN,5.0,NaN,NaN,2.0,NaN,NaN
34,Cameroon,CMR,Lower middle income,26277,24892,448,43.49,14.42,42.09,3.32,...,60.0,NaN,NaN,NaN,2.0,1.0,NaN,2.0,2.0,NaN
35,Canada,CAN,High income,584409,493638,15762,1.51,19.25,79.24,5.66,...,90.0,3.243000e+07,3.784590e+07,NaN,24.0,8.0,1.0,20.0,NaN,NaN
36,Cape Verde,CPV,NaN,11840,11559,113,10.60,21.80,67.60,12.07,...,98.0,7.580000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Cayman Islands,CYM,NaN,0,0,0,NaN,NaN,NaN,NaN,...,NaN,2.334000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Central African Republic,CAF,Low income,4963,1924,63,69.85,6.26,23.89,4.04,...,49.0,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN
39,Chad,TCD,Low income,2113,1704,104,75.06,1.88,23.06,1.91,...,41.0,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN
40,Channel Islands,CHI,NaN,0,0,0,2.62,24.64,72.73,7.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Chile,CHL,High income,608973,577382,16608,8.98,22.25,68.78,7.29,...,95.0,5.431000e+06,4.091000e+06,NaN,14.0,2.0,NaN,13.0,NaN,NaN
42,China,CHN,Upper middle income,95963,89923,4782,25.33,27.42,47.25,4.60,...,99.0,1.625380e+08,1.546320e+08,0.6,15.0,14.0,1.0,15.0,NaN,NaN
43,Colombia,COL,Upper middle income,1642775,1508419,43213,15.77,20.12,64.11,9.96,...,95.0,4.529000e+06,4.479000e+06,NaN,26.0,13.0,2.0,29.0,4.0,74.0
44,Comoros,COM,Lower middle income,823,705,10,34.38,18.83,46.79,7.70,...,90.0,4.510000e+04,NaN,NaN,2.0,NaN,NaN,1.0,1.0,NaN
45,Congo (Brazzaville),COG,Lower middle income,7107,5846,108,33.53,21.47,44.99,9.60,...,73.0,NaN,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN
46,Congo (Kinshasa),COD,Low income,17658,14701,591,64.30,9.84,25.86,4.13,...,57.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,NaN
47,Costa Rica,CRI,Upper middle income,169321,131923,2185,11.97,18.80,69.22,11.49,...,95.0,3.366000e+06,1.153000e+06,21.0,3.0,NaN,NaN,3.0,1.0,NaN
48,Croatia,HRV,High income,210837,198018,3920,6.19,27.67,66.14,6.62,...,93.0,6.002100e+07,3.500000e+06,NaN,33.0,12.0,NaN,4.0,3.0,NaN
49,Cuba,CUB,NaN,11863,10125,146,17.40,17.11,65.49,1.67,...,99.0,4.276000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
final_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 216
Data columns (total 22 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country                                            217 non-null    object
 1   country_code                                       217 non-null    object
 2   Income_Level                                       153 non-null    category
 3   cases                                              198 non-null    Int64
 4   recoveries                                         198 non-null    Int64
 5   death                                              198 non-null    Int64
 6   employment_agriculture                             187 non-null    float64
 7   employment_industry                                187 non-null    float64
 8   employment_services                                187 non-null    float64
 9   unemployment_total                                 187 non-null    float64
 10  dpt_immunization_12to13_months                     192 non-null    float64
 11  hepB3_immunization_1yrold_child                    187 non-null    float64
 12  measles_immunization_12to23_months                 192 non-null    float64
 13  IT_number_of_arrivals                              172 non-null    float64
 14  IT_number_of_departures                            91 non-null     float64
 15  poverty_headcount_ratio_at_national_poverty_lines  13 non-null     float64
 16  Banking_sector                                     148 non-null    float64
 17  Financial_Markets_NBFI                             84 non-null     float64
 18  Insolvency                                         31 non-null     float64
 19  Liquidity_funding                                  142 non-null    float64
 20  Payment_systems                                    89 non-null     float64
 21  total_measures_taken                               18 non-null     float64
dtypes: Int64(3), category(1), float64(16), object(2)
memory usage: 38.3+ KB

### Read to csv

In [54]:
final_table.to_csv('./data/final_table.csv')